/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #77dd77 !important;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #77dd77;
    color: black;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #5eb15e;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #5eb15e;
    color: white;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #5eb15e;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    background: #fff;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.sm-animals{
    height: 50px;
}

/*Contenuto pagina non loggata*/
.start-info{
    background-color: #ccfccc;
}

/* Contenuto pagina loggata */
.mt-5{
    margin-top:10% !important;
}

button#sidebarCollapse, button#logout {
    min-width: 100px;
}

/* Progress bar */
.progress-bar, .progress {
    height: 30px !important;
}



/*
bottoni esterni
*/
.our-button {
  word-wrap: break-word;
  display: block;
  background-color: #b7e0b7;
  width: 300px;
  height: 100px;
  line-height: 100px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.our-button span,
.our-button .icon {
  display: block;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
}
.our-button span {
  width: 72%;
  line-height: inherit;
  font-size: 22px;
  left: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.our-button span:after {
  content: '';
  background-color: #000000;
  width: 2px;
  height: 70%;
  position: absolute;
  top: 15%;
  right: -1px;
}
.our-button .icon {
  width: 28%;
  right: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4);
}
.our-button .icon .fa {
  font-size: 30px;
  vertical-align: middle;
  -webkit-transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
  transition: all 0.25s cubic-bezier(0.31, -0.105, 0.43, 1.4), height 0.25s ease;
}
.our-button .icon .fa-remove {
  height: 36px;
}
.our-button .icon .fa-check {
  display: none;
}
.our-button.success span, .our-button:hover span {
  left: -72%;
  opacity: 0;
}
.our-button.success .icon, .our-button:hover .icon {
  width: 100%;
}
.our-button.success .icon .fa, .our-button:hover .icon .fa {
  font-size: 45px;
}

.our-button:hover {
  background-color: #a2e0a2;
}
.our-button:hover .icon .fa-remove {
  height: 46px;
}
.our-button:active {
  opacity: 1;
}


 /* ==========================================================================
     #FORM
     ========================================================================== */
     input {
        outline: none;
        margin: 0;
        border: none;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        width: 100%;
        font-size: 14px;
        font-family: inherit;
      }
      
      .input--style-4 {
        line-height: 50px;
        background: #fafafa;
        -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0 20px;
        font-size: 16px;
        color: #666;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
      
      .input--style-4::-webkit-input-placeholder {
        /* WebKit, Blink, Edge */
        color: #666;
      }
      
      .input--style-4:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #666;
        opacity: 1;
      }
      
      .input--style-4::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #666;
        opacity: 1;
      }
      
      .input--style-4:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: #666;
      }
      
      .input--style-4:-ms-input-placeholder {
        /* Microsoft Edge */
        color: #666;
      }
      
      .label {
        font-size: 16px;
        color: #555;
        text-transform: capitalize;
        display: block;
        margin-bottom: 5px;
      }
      
      .radio-container {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        font-size: 16px;
        color: #666;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      .radio-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
      }
      
      .radio-container input:checked ~ .checkmark {
        background-color: #e5e5e5;
      }
      
      .radio-container input:checked ~ .checkmark:after {
        display: block;
      }
      
      .radio-container .checkmark:after {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 12px;
        height: 12px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        background: #57b846;
      }
      
      .checkmark {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        height: 20px;
        width: 20px;
        background-color: #e5e5e5;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
      }
      
      .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      .input-group {
        position: relative;
        margin-bottom: 22px;
      }
      
      .input-group-icon {
        position: relative;
      }
      
      .input-icon {
        position: absolute;
        font-size: 18px;
        color: #999;
        right: 18px;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        cursor: pointer;
      }


      /* ==========================================================================
     #SPACING
     ========================================================================== */
  .p-t-100 {
    padding-top: 100px;
  }
  
  .p-t-130 {
    padding-top: 21px;
  }
  
  .p-t-180 {
    padding-top: 180px;
  }
  
  .p-t-20 {
    padding-top: 20px;
  }
  
  .p-t-15 {
    padding-top: 15px;
  }
  
  .p-t-10 {
    padding-top: 39px;
  }
  
  .p-t-30 {
    padding-top: 30px;
  }
  
  .p-b-100 {
    padding-bottom: 100px;
  }
  
  .m-r-45 {
    margin-right: 45px;
  }
  

   /* ==========================================================================
     #SELECT2
     ========================================================================== */
     .select--no-search .select2-search {
        display: none !important;
      }
      
      .rs-select2 .select2-container {
        width: 100% !important;
        outline: none;
        background: #fafafa;
        -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      
      .rs-select2 .select2-container .select2-selection--single {
        outline: none;
        border: none;
        height: 50px;
        background: transparent;
      }
      
      .rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
        line-height: 50px;
        padding-left: 0;
        color: #555;
        font-size: 16px;
        font-family: inherit;
        padding-left: 22px;
        padding-right: 50px;
      }
      
      .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
        height: 50px;
        right: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      
      .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
        display: none;
      }
      
      .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
        font-family: "Material-Design-Iconic-Font";
        content: '\f2f9';
        font-size: 24px;
        color: #999;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
      
      .rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
      
      .select2-container--open .select2-dropdown--below {
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        border: 1px solid #e0e0e0;
        margin-top: 5px;
        overflow: hidden;
      }
      
      .select2-container--default .select2-results__option {
        padding-left: 22px;
      }
/* ==========================================================================
     #SELECT2
     ========================================================================== */
     .select--no-search .select2-search {
        display: none !important;
      }
      
      .rs-select2 .select2-container {
        width: 100% !important;
        outline: none;
        background: #fafafa;
        -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
      }
      
      .rs-select2 .select2-container .select2-selection--single {
        outline: none;
        border: none;
        height: 50px;
        background: transparent;
      }
      
      .rs-select2 .select2-container .select2-selection--single .select2-selection__rendered {
        line-height: 50px;
        padding-left: 0;
        color: #555;
        font-size: 16px;
        font-family: inherit;
        padding-left: 22px;
        padding-right: 50px;
      }
      
      .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow {
        height: 50px;
        right: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -moz-box-align: center;
        -ms-flex-align: center;
        align-items: center;
      }
      
      .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow b {
        display: none;
      }
      
      .rs-select2 .select2-container .select2-selection--single .select2-selection__arrow:after {
        font-family: "Material-Design-Iconic-Font";
        content: '\f2f9';
        font-size: 24px;
        color: #999;
        -webkit-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
      }
      
      .rs-select2 .select2-container.select2-container--open .select2-selection--single .select2-selection__arrow::after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
      }
      
      .select2-container--open .select2-dropdown--below {
        border: none;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
        border: 1px solid #e0e0e0;
        margin-top: 5px;
        overflow: hidden;
      }
      
      .select2-container--default .select2-results__option {
        padding-left: 22px;
      }
